-unless @search_query == "" || @search_query.nil?
    - imdb = FilmBuff.new
    - begin
        - imdb_results = imdb.search_for_title(@search_query)
    - rescue FilmBuff::NotFound
        - imdb_results = Hash.new
    = imdb_results.to_json
