="<h2 class = '" + "#{@headerClass}"+"'>#{@headerMessage}</h2>" unless @headerMessage == ""
="#{@listing}" unless @listing == ""
="#{@footerMessage}" unless @listing == ""

What movie are you looking for on IMDB?
%br
%form{:action => "/search", :method => "post"}
    %input{:type => "text", :name => "search_query"}
    %input{:type => "checkbox", :name => "json_only", :id => "json_only"}
    %label{:for => "json_only"}
        Only retrieve JSON results for search.
    %br
    %input{:type => "submit"}
