-# filmBuff is not able to secure a connection with imdb through the .look_up_id() method
-# this means that the additional attributes of the films are not available (Tagline, Plot, Runtime, Rating, Genres, etc.)


-# imdb = FilmBuff.new
-# film = imdb.look_up_id('tt0468569')
-# =film
